Microsoft/
NuGet/
configstore/
stetic/
1Password/
Unreal Engine/
Autodesk/
xbuild/
wireshark/
.mono/
github-copilot/
mozilla
.aider*
aider.env
pulse
systemd/user/gnome-session.target.wants
totem
user-share
vivaldi/NativeMessagingHosts
vivaldi-snapshot/NativeMessagingHosts
BraveSoftware/Brave-Browser
Rygel
chromium/NativeMessagingHosts
dconf
enchant
evolution/sources
gnome-boxes/sources
goa-1.0
google-chrome/NativeMessagingHosts
google-chrome-beta/NativeMessagingHosts
google-chrome-unstable/NativeMessagingHosts
ibus/bus
libvirt/storage
menus/applications-merged
microsoft-edge-dev/NativeMessagingHosts
org.gnome.Ptyxis
vlc
.gsd-keyboard.settings-ported
gnome-initial-setup-done
rygel.conf
user-dirs.dirs
user-dirs.locale
mimeapps.list
lazygit
tags
Nextcloud
autostart
expressvpn
libreoffice/4
transmission
Zettlr
